

.game{
    display: flex;
    justify-content: center;
    gap: 3cm;
    padding-top: 10%;

}
.button{
    width: 50px;  /* Change button width */
    height: 50px;  /* Change button height */
    padding: 10px; /* Adjust space inside button */
    font-size: 16px; /* Font size for text inside */
    background-color: #4CAF50; /* Button background color */
    color: white; /* Text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
}

.scorecard{
    display: flex;
    justify-content: center;
    gap : 2cm;
}
.player{
    padding: 50px;
    border: 100px;
    background-color: rgb(4, 4, 71);
    color: aliceblue;
    
    border-radius: 5px;
    align-items: center;
}
.computer{
    padding: 50px;
    border: 100px;
    background-color: rgb(4, 4, 71);
    color: aliceblue;
    border-radius: 5px;
    align-items: center;
}
#countp{
    font-size: large;
}
#countc{
    font-size: large;
}